
button {
    padding: 4px 16px;
    border-radius: 4px;
}

.Home, .NoWallet, .SwitchChain {
    width: 800px;
    margin: 0 auto;
}

.MintBar {
    text-align: center;
    margin-top: 12px;
}

.ColorPicker {
    width: 800px;
    margin: 12px auto;
}

.pfp {
    margin: 0 auto;
}

.pfp object, .pfp svg {
    border: 1px solid black;
}

.Token {
    margin: 0 auto;
    width: 800px;
}

.Address {
    margin: 0 auto;
    width: 800px;
}

.Address .pfpers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.Address .pfpers .pfp {
    width: 176px;
    height: 176px;
    margin: 12px;
    margin-bottom: 42px;
}
