
.Home {
    margin: 16px;
}

.MintBar {
  text-align: center;
}

.ColorPicker {
    width: 800px;
    margin: 12px auto;
}

.pfp {
    margin: 0 auto;
}

.pfp object, .pfp svg {
    border: 1px solid black;
}
